/**
 * Fonts.
 */
$font-family: sans-serif;
$font-size: calc(1em + 0.1vw);

/**
 * Colours.
 */
$color-white: #ffffff;
$color-black: #222222;
$color-dark-gray: #323232;
$color-gray: darken(#d8d8d8, 20%);
$color-brand-primary: #5e5086;
$color-brand-secondary: #453a62;
$color-brand-accessibility: #fff8ee;

/**
 * Gradients.
 */
$gradient-brand: linear-gradient(90deg, #EBF4F5, #B5C6E0);

/**
 * Media query sizes.
 */
$media-size-xs: 390px;
$media-size-sm: 668px;
